  
  .boxcontainer {
    display: grid;
    gap: 20px; 
    padding: 4rem 2rem 2rem 2rem;
 
  }

.box {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  /* Style for the box image */
  .boximage {
    max-width: 100%;
    height: auto;
  }
  
  /* Style for the box title */
  .boxtitle {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
@media (min-width: 900px) {
    .boxcontainer{ 
        grid-template-columns: repeat(4, 1fr)
    }; 
}
  @media (max-width:768px) {
    .boxcontainer{
      grid-template-columns: repeat(3, minmax(150px, 1fr));
      
    }
  }
  @media (max-width:568px) {
    .boxcontainer{
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      
    }
  }
  @media (max-width:378px) {
    .boxcontainer{
      grid-template-columns: repeat(1, minmax(150px, 1fr));
      
    }
  }